.containerCards{
    
    &__blog1{
        background-image: url(./img/cardBackBlog.png);
        margin: 3rem 1.2rem;
        background-size:  160% 130%;
        border-radius: 1.5rem;
        background-position: 50%  20%;
        background-repeat: no-repeat;

        
        
        .blog1Wrapper{
            @include flex(column, none, flex-start);
            margin: 0 1rem;
            padding-top: 2rem ;
        }
        
        h2{
            color: $color-blanco;
            margin-top: 6rem;
            margin-bottom: 3rem;
            font-size: 2.87rem;
            font-weight: 800;
        }

        p.parrafoCard {
            color: $color-blanco;
            margin-right: 2rem;
            margin-bottom: 3rem;
            font-size: 1.18rem;
            font-weight: 300;
        }
        
    }

    &__blog2{
        @extend .containerCards__blog1;
    }

    &__blog3{
        @extend .containerCards__blog1;
    }

    &__blog4{
        @extend .containerCards__blog1;
    }
}

.cardSocials {
    
    @include flex(row, center, flex-end);
    border-top: solid #ffffff48 2.5px;

    &__group1{
        @include flex(row, none, center);
        margin: 1rem .5rem;
        
        p {
            color: $color-blanco;
        }
    }

    &__group2{
        @extend .cardSocials__group1;
        
    }

    &__group3{
        @extend .cardSocials__group1;
        
    }

}

@media (min-width: 510px ) and (max-width: 768px) {
    .containerCards {
        @include flex(column, center, center);
        margin: 0 15%;
    }
}